<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__brand">
                <img src="/favicon-32x32.png" alt="" width="28" height="28" loading="lazy" decoding="async">
                Komi Store
            </div>
            <ul class="footer__links">
                <li><a href="https://github.com/kurikomi-labs/komi-store" target="_blank" rel="noopener">Source Code</a></li>
                <li><a href="https://github.com/kurikomi-labs/komi-store/wiki" target="_blank" rel="noopener">Wiki</a></li>
                <li><a href="https://github.com/kurikomi-labs/komi-store/releases" target="_blank" rel="noopener">Releases</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/blog/feed.xml">RSS</a></li>
                <li><a href="/press/">Press</a></li>
                <li><a href="/sponsors/">Sponsor</a></li>
                <li><a href="https://discord.gg/x9Cvh2Z9qS" target="_blank" rel="noopener">Discord</a></li>
                <li><a href="/privacy-policy/">Privacy Policy</a></li>
                <li><a href="https://www.buymeacoffee.com/rainxchzed" target="_blank" rel="noopener">Support ☕</a></li>
            </ul>
            <div class="footer__bottom">
                © <span id="year">{{ site.time | date: '%Y' }}</span> Komi Store by <a href="https://github.com/rainxchzed" target="_blank" rel="noopener">rainxchzed</a>. Apache License 2.0.
                <br><span class="footer__legal">GitHub® is a registered trademark of GitHub, Inc. This project is not affiliated with GitHub.</span>
            </div>
        </div>
    </div>
</footer>
